<% include ./partials/header %>

    <div class="container">
        <h1>Welcome to Yege Shopping!</h1>
        <a href="/products">go the the main page</a>
    </div>

<% include ./partials/footer %>

