<% include ../partials/header %>

    <div class="container">
        <div class="jumbotron">
            <h1>Yege Shopping</h1>
            <p>A best place to buy something</p>
            <p><a class="btn btn-primary btn-lg" href="/products/new">post</a></p>
        </div>
    </div>

<% include ../partials/footer %>